{% extends 'main/base.html' %}
{% load static i18n %}
{% block  title %}{% trans "Solution" %}{% endblock %}
{% block body %}
	<div class="container" style="margin-top: 90px;">
		<h3>{% trans "Solution" %}</h3>		
		<br>
		<ul>
			<li>{% trans "Providing digital interface to the students, initially, and later on to the rest of the people" %}</li>
			<li>{% trans "Providing farmers easier techniques of crop enhancement" %}</li>
			<li>{% trans "Pre-alerting farmer with more advanced & accurate weather conditions with the help of INSAT(by ISRO)" %}</li>
			<li>{% trans "Helping every individual to easily access & apply for Government shcemes" %}</li>
		</ul>
	</div>
{% endblock %}