{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}
	<style type="text/css">
		.footer{
			position: fixed;
			bottom:0;
			width: 100%
		}
	</style>
{%endblock head %}
{% block title %}{% trans "Confirm Email To Reset Password" %}{% endblock title %}
{% block body %}
	<div class="container content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom md-4">{% trans "Reset Password" %}</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">{% trans "Reset Password" %}</button>
			</div>
		</form>
	</div>
{% endblock body %}