{% extends 'users/base.html' %}
{% load i18n %}
{% block head %}
	<style type="text/css">
		.footer{
			position: fixed;
			bottom:0;
			width: 100%
		}
	</style>
{%endblock head %}
{% block title %}{% trans "Password Reset Successful" %}{% endblock title %}
{% block body %}
	<br>
	<div class="container">
	<div class="alert alert-info">
		{% trans "An email has been sent with instructions to reset your password." %}
	</div>
		<a href="https://www.gmail.com"><h3>{% trans "Go to Gmail." %}</h3></a>
	</div>
{% endblock body %}