{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Sign Up" %}{% endblock title %}
{% block body %}
	<br>
	<div class=" container border content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom md-4 ">{% trans "Join Today" %}</legend>
				{{ form|crispy }}
			</fieldset><div class="form-group">
				<button class="btn btn-outline-info" type="submit">{% trans "Sign Up" %}</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				{% trans "Already have an account?" %}
				<a class="ml-2" href="{% url 'login' %}">{% trans "Sign In" %}</a>
			</small><br><br>
		</div>
	</div>
	<br>
{% endblock%}