body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h3{
  color: #343a40;
  text-transform: uppercase;
}

.container{
  width: 400px;
}

.footer{
  background-color: #464646;
  color: white;
}
