{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Agriculture" %}{% endblock title %}
{% block body %}
	
	<div class="jumbotron text-center" style="margin-top: 65px; ">
		<h1>{% trans "Agriculture" %}</h1> 
		<p>{% trans "Agriculture is the most healthful, most useful, and most nobel employment of man." %}</p> 
	</div>

	<!-- Cards -->
	<div class="container">
		<div class="card-deck">
		  <div class="card text-center zoom-2 zoom-target">
		    <div class="card-img-wrap">
		      <img src={% static 'agriculture/images/training.jpg' %} class="card-img-top" alt="...">
		    </div>
		    <div class="card-body">
		      <h5 class="card-title">{% trans "Training Videos" %}</h5>
		      <a href="{% url 'training' %}" class="btn btn-outline-primary">{% trans "Click Here" %}</a>
		    </div>
		  </div>
		  <div class="card text-center">
		    <div class="card-img-wrap">
		      <img src={% static 'agriculture/images/schemes.jpg' %} class="
		      card-img-top" alt="Agriculture">
		    </div>  
		    <div class="card-body">
		      <h5 class="card-title">{% trans "Agriculture Related Schemes" %}</h5>
		      <a href="{% url 'schemes-list' %}" class="btn btn-outline-primary">{% trans "Click Here" %}</a>
		    </div>
		  </div>
		</div>
	</div>

	<br>
	<br>

	<div class="container">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom md-4 text-center">{% trans "Request For Help" %}</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group text-center">
				<button class="btn btn-info btn-lg btn-block" type="submit">{% trans "Request" %}</button>
			</div>
		</form>
	</div>


{% endblock body %}